
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  margin: 50px auto 0 auto;
  font-size: 562.5%;

  /* 16px = 100% = 1em */
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
hr{
border: dotted #EAF6F6 6px;
border-top: none;
width: 4%;
margin: 100px auto;
}
p{
  line-height: 2;
}
a{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.mypicture{
  width: 20%;

}
.middle-container{
  margin: 100px 0;

}
.bottom-container{

}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.bottom-cloud{
  position: absolute;
  left:250px;
  bottom:300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;
}
.pro{
  text-decoration: underline;
}
.bottom-container{
  background-color:#66BFBF;
  padding: 50px 0 20px;
}
.programmer{
  font-weight: normal;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.img-skll-1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.img-skll-2{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.my-des{
  color: #40514E;
  width:  30%;
  margin: auto;
}
.name{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.footer-link{
  color: #11999E;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.table{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
